# Ignore everything
*

# But not these files...
!.gitignore
!.gitignore_global
!.ctags
!git
!.gitmodules
!.zshrc
!.zsh/
!.zsh/**
!.vimrc
!.vim/
!.vim/**
!.oh-my-zsh
!.oh-my-zsh/**
!script.pl
!.gdbinit
!template.latex
!mac-setup-script.sh
