# Ignore everything
*

# But not these files...
!.gitignore
!.gitignore_global
!.ctags
!git
!.gitmodules
!.zshrc
!.zsh/
!.zsh/**
!.vimrc
!.oh-my-zsh
!.oh-my-zsh/**
!personalScripts
!personalScripts/**
!script.pl
!.gdbinit
!template.latex
!setup-script.sh
